.chatcard {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 2px;
    font-size: 12px;
    word-wrap: break-word;
}

.reply {
    font-size: 10px;
}

.datename {
    font-size: 10px;
    margin-top: 10px;
}

.chatbubble {
    font-size: 12px;
    width: 70%;
    height: auto;
    word-wrap: break-word;
}